// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.evil-eol-newline {
  display: none;
}

.evil-eol-newline.lack-of-eol {
  display: block;
  background-color: #f00;
  opacity: 1;
  color: #ff0;
}
